footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.user{
    text-decoration: none;
    color: white;
    background-color: blue;

    border-radius: 4px;
    padding: 0.5rem 1rem;

}

.lista{
    
}